@mixin button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background: $blue;
    border-radius: 5px;
    text-decoration: none;
    padding: 13px 46px;
    color: $white;
    transition: 0.3s;
    box-shadow: 10px 5px 5px $silverShadow;
}

@mixin text-title {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: $black;
}