$white: #fff;
$whiteBg: #FCFCFC;
$whiteBorder: #E9E9E9;
$whiteBlock: #F3F3F3;
$black: #000000;
$blue: #0098AC;
$purpleDark: #3F3D56;
$whiteGreen: #E6F5F7;
$silverShadow: rgb(145, 143, 143);
$red: rgb(245, 83, 83);