.hero {
    background: url('../img/bg-icon.svg') 12% 20%, 
                url('../img/bg-icon-small.svg') 25% 8%,
                url('../img/bg-icon-small.svg') 15% 90%,
                url('../img/bg-icon.svg') 40% 90%,
                url('../img/bg-icon-small.svg') 45% 15%,
                url('../img/bg-icon-small.svg') 55% 65%,
                url('../img/bg-icon-small.svg') 87% 97%,
                url('../img/bg-icon-small.svg') 97% 20%;
    background-repeat: no-repeat;
    min-height: calc(100vh - 81px);
    
    .container {
        background: url('../img/bg-dots.png') center 50px;
        background-size: 1130px 360px;
        background-repeat: no-repeat;
        padding-top: 35px;
        padding-bottom: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-info {
        font-family: 'Ubuntu', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;

        p {
            font-size: 40px;
            line-height: 55px;
            color: $black;
            margin-bottom: 50px;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            min-height: 50px;
            background: $blue;
            border-radius: 5px;
            text-decoration: none;
            padding: 13px 46px;
            color: $white;
        }
    }
}