.hero {
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    &-parallax-icon {
        border-radius: 50%;
        position: absolute;
        box-shadow: 3px 2px 2px $silver;
        // perspective: 1500;

        &:nth-of-type(1) {
            top: 12%;
            left: 20%;
        }

        &:nth-of-type(2) {
            top: 25%;
            left: 8%;
            box-shadow: 10px 2px 2px $silver;
        }

        &:nth-of-type(3) {
            top: 15%;
            left: 80%;
            box-shadow: 15px 2px 2px $silver;
        }

        &:nth-of-type(4) {
            top: 40%;
            left: 90%;
        }
        &:nth-of-type(5) {
            top: 45%;
            left: 25%;
            box-shadow: 5px 2px 2px $silver;
        }
        &:nth-of-type(6) {
            top: 55%;
            left: 65%;
        }
        &:nth-of-type(7) {
            top: 87%;
            left: 65%;
        }
        &:nth-of-type(8) {
            top: 75%;
            left: 20%;
            box-shadow: 10px 2px 2px $silver;
        }
        
    }
    
    .container {
        background: url('../img/bg-dots.png') center 50px;
        background-size: 1130px 360px;
        background-repeat: no-repeat;
        padding-top: 35px;
        padding-bottom: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-info {
        font-family: 'Ubuntu', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        z-index: 3;

        p {
            font-size: 30px;
            line-height: 1.5;
            color: $black;
            margin-bottom: 35px;
            text-align: center;
        }

        a {
            @include button-link;
            

            &:hover {
                background: $purpleDark;
                box-shadow: 5px 2px 2px $black;
                transform: translateX(3px);
            }
        }
    }

    &-image {
        max-width: 100%;
        z-index: 3;
    }
}