.intro {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__media {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
    }

    &__content {
        z-index: 2;
        position: absolute;
        @include text-title;
        color: $white;
        font-size: 16px;
        letter-spacing: 6px;
        text-align: center;
        text-transform: uppercase;
        animation: text 4s infinite;
        
    }

    @keyframes text {
        0% {
            color: transparent;
        }
        30% {
            letter-spacing: 15px;
        }
        85% {
            letter-spacing: 6px;
        }
    }

    a {
        position: absolute;
        bottom: 5px;
        left: calc(50% - 15px);
        z-index: 2;

        svg {
            width: 20px;
            height: 20px;
            fill: $white;
        }
    }
}