.what-is {
    background: url('../img/what-is-eclipse-bg-small.png') 0% -300px,
                url('../img/what-is-eclipse-bg-big.png') 0% -450px,
                url('../img/what-is-dots-bg.png') 98% 10%,
                url('../img/what-is-50 000 000.png') 80% 95%;
    background-repeat: no-repeat;

    .container {
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__info {
        @include text-title;
        margin-bottom: 30px;

        h3 {
            font-size: 26px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 150%;

            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }

    }

    &__img {
        max-width: 100%;
    }
}