.header {
    background-color: $whiteBg;

    &-button {
        display: none;
    }
    
    &-nav {
        display: block;
    }

    &-dropdown {
        margin-right: 20px;
    }

    &-contacts {
        display: flex;
    }

}