.intro {

    &__content {
        font-size: 40px;
    }
    @keyframes text {
        0% {
            color: transparent;
        }
        30% {
            letter-spacing: 40px;
        }
        85% {
            letter-spacing: 6px;
        }
    }
}