.statistics {

    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &-galary {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;

        &__card {
            display: flex;
            flex-direction: column;


            &:nth-of-type(2n) {
                flex-direction: column;
                
            }
            img {
                width: 70%;
                height: auto;
            }
        }
    }
}